<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Edita una tarea</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form [formGroup] = "myForm" >
      <div class="card-body">
        <div class="form-group">
          <label for="inputName">Titulo</label>
          <input class="form-control" id="inputName" value="{{editTarea.titulo}}" formControlName="titulo">
        </div>
        <div class="form-group">
          <label for="inputFecha">Descripción</label>
          <input  class="form-control" id="inputFecha" value="{{editTarea.descripcion}}" formControlName="descripcion">
        </div>
        <div class="form-group">
          <label for="inputFecha">Fecha de entrega</label>
          <input  class="form-control" id="inputFecha" value="{{editTarea.fecha_entrega}}" formControlName="fecha_entrega">
        </div>
        
        
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button routerLink="/dashboard/tarea" type="submit" class="btn btn-primary">Cancelar</button>
        
        <button (click)="editar()" routerLink="/dashboard/tarea" type="submit" class="btn btn-primary">Aceptar</button>
      </div>
    </form>
  </div>
  <!-- /.card -->